@charset "UTF-8";

@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

// 초기화
@import "./common/reset";

// 변수
@import "./common/variables";
@import "./common/mixins";

//스프라이트 이미지
@import "./sprite/_icons-sprite";

@import "./ui/menu_click_showup";
@import "./ui/input_box_state";




.storeWrap{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:18px;
    line-height: 1.8;
}